- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid
    .row
      .col-md-12
        %table.table.text-center.table-bordered
          %thead
            %tr
            
              %th 
                = Setting.relates.type
              %th 
                = Setting.relates.obj
              %th
          %tbody
            %tr
            
              %td
                = @relate.type
              %td
                = @relate.obj
              %td
                = link_to '编辑', edit_relate_path(@relate), :class => "btn btn-success"
                = link_to '返回', relates_path, :class => "btn btn-danger"
    

= render "layouts/control_panel"
