.container-fluid
  .row.justify-content-sm-center
    .col-sm-6
      = form_for @nature do |f|
        - if @nature.errors.any?
          #error_explanation
            %h2= "#{pluralize(@nature.errors.count, "error")} prohibited this buyer from being saved:"
            %ul
              - @nature.errors.full_messages.each do |msg|
                %li= msg
      
        .form-group.row
          = f.label Setting.natures.name, :class => "col-sm-3 text-right"
          .col-sm-9
            = f.text_field :name, :class => "form-control"
          
        .form-group.row
          = f.label Setting.natures.type, :class => "col-sm-3 text-right"
          .col-sm-9
            = f.text_field :type, :class => "form-control"
          
        .form-group.row
          = f.label Setting.natures.title, :class => "col-sm-3 text-right"
          .col-sm-9
            = f.text_field :title, :class => "form-control"
          
        .form-group.row
          = f.label Setting.natures.tag, :class => "col-sm-3 text-right"
          .col-sm-9
            = f.text_field :tag, :class => "form-control"
          
      
      
        .form-group.row
          .col-sm-3.offset-sm-2
            = f.submit '保存', :class => "btn btn-success"
          .col-sm-3.offset-sm-1
            = link_to '返回', natures_path, :class => "btn btn-danger"
